{% extends 'base/base.html' %}
{% block title %}
    Register
{% endblock %}
{% block header %}
  <header class="masthead" style=background-image:url('../../media/post/img/home-bg.jpg') >
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Maktab Bootcamp</h1>
            <span class="subheading">
              First Django Project
              {% if author %}
                - {{author}}                
              {% endif %}
            </span>
          </div>
        </div>
      </div>
    </div>
  </header>
  {% endblock header %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <form method="post" action="{% url 'register-url' %}">
                    {% csrf_token %}
                    {% include 'component/form.html' %}
                </form>
            </div>
            <a href="{% url 'login-url' %}">have an account?</a>
        </div>
    </div>

{% endblock %}