
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
 <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand" href="#">Maktab Django</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="{% url 'blog-url' %}" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'blog-url' %}">Home</a>
          </li>
          <li class=" nav-item dropdown">
              <a class=" nav-link  " href="{% url 'categories-url' %}">Categorys</a> 

          </li>
          {% if not request.user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href= "{% url 'register-url' %}" >Register/login</a> 
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout-url'  %}">Log out</a> 
          </li>
          <div class= "search-bar mt-sm-2 mr-2">
            <form method="get">
              <input type="text" class="form-control" name ="q" id="id_q" placeholder="Search">
              
            </form>
          </div>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>