{{ form.non_field_errors }}

{% for field in form %}
    <div class="form-group">
        {{ field.label_tag }}   {{field}}
        {% comment %} <input class="form-control" id="{{ field.id_for_label }}" maxlength="120" name="{{ field.html_name }}"   />  {% endcomment %}
        {% if field.help_text %}
            <small class="form-text text-muted">{{ field.help_text|safe }}</small>
        {% endif %}
        {% for error in field.errors %}
            <div class="alert alert-danger mt-2" role="alert">
                {{ error }}
            </div>
        {% endfor %}
    </div>
{% endfor %}
    <button type="submit" class="btn btn-primary"> Submit  </button>

